.step-title{
    padding-bottom: 20px;
    font-size: 2.5em;
    text-align: center;
    color: #fff;
}


.step-title__subtitle{
    color: #65686f;
    padding-bottom: 10px;
    font-size: 1.5em;
}

.step-content{
    margin-top: 35px;
    text-align: center;
}


.xdac-company-form {
    text-align: center;
}

.xdac-company-form input[type=text],
.xdac-company-form input[type=email] {
    width: 374px;
    height: 50px;
    background-color: #222836;
    color: #ffffff;
    border-radius: 46px 46px 46px 46px;
    -moz-border-radius: 46px 46px 46px 46px;
    -webkit-border-radius: 46px 46px 46px 46px;
    border: none;
    padding-left: 30px;
    font-size: 1em;
    margin-bottom: 30px;
    outline: none;
}
.xdac-company-form input[type=text]::-webkit-input-placeholder,
.xdac-company-form input[type=email]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #65686f;
    font-size: 1em;
}
.xdac-company-form input[type=text]::-moz-placeholder,
.xdac-company-form input[type=email]::-moz-placeholder { /* Firefox 19+ */
    color: #65686f;
    font-size: 1em;
}
.xdac-company-form input[type=text]:-ms-input-placeholder,
.xdac-company-form input[type=password]:-ms-input-placeholder { /* IE 10+ */
    color: #65686f;
    font-size: 1em;
}
.xdac-company-form input[type=text]:-moz-placeholder,
.xdac-company-form input[type=password]:-moz-placeholder { /* Firefox 18- */
    color: #65686f;
    font-size: 1em;
}
.xdac-company-form input[type=button].xdac-submit-form,
.xdac-company-form input[type=submit].xdac-submit-form {
    width: 374px;
    height: 50px;
    color: #ffffff;
    font-size: 1em;
    background-color: #019bdb;
    border-radius: 46px 46px 46px 46px;
    -moz-border-radius: 46px 46px 46px 46px;
    -webkit-border-radius: 46px 46px 46px 46px;
    border: 0;
    outline: none;
}
.xdac-company-form input[type=button]:hover,
.xdac-company-form input[type=submit]:hover {
    border: 2px solid #019bdb;
    background-color: #292c3b;
}
.xdac-company-form input[type=button].xdac-submit-form::-moz-focus-inner,
.xdac-company-form input[type=submit].xdac-submit-form::-moz-focus-inner {
    border: 0;
    outline: none;
}
.xdac-company-form .site-group{
    color: #65686f
}
.xdac-company-form .site-group input[type=text]{
    width: 186px;
}
@media only screen and (max-width : 768px) {

    .xdac-company-form input[type=text],
    .xdac-company-form input[type=email]{
        max-width: 300px;
        width: 100%;
        height: 54px;
        padding-left: 38px;
        font-size: 0.9em;
    }
    .xdac-company-form input[type=submit].xdac-submit-form {
        max-width: 300px;
        width: 100%;
        height: 56px;
    }
    .xdac-company-form .site-group{
        color: #65686f
    }
    .xdac-company-form .site-group .base-url{
        display: block;
        left: calc( 50% - 135px );
        padding-bottom: 10px;
    }
    .xdac-company-form .site-group input[type=text]{
        width: 100%;
    }
}







.xdac-register-terms {
    margin: 0 auto;
    width: 374px;
    padding-top: 20px;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #65686f;
}
.xdac-register-terms_w-100 {
    width: 100%;
}
.xdac-register-terms a {
    color: #65686f;
    text-decoration: underline;
}

@media only screen and (max-width : 768px) {
    .xdac-register-terms {
        max-width: 300px;
        width: 100%;
    }
}